#v001 {
    border-style: solid;
    border-width: 4px;
    border-image: linear-gradient(169deg, rgba(201,42,42,1) 34%, rgba(69,143,241,1) 100%) 1;
    margin: auto auto;
    width: 90%;

    background: rgb(189,79,29);
    background: linear-gradient(180deg, rgba(189,79,29,1) 34%, rgba(193,62,21,1) 100%);
}

#v002 {
    border-style: solid;
    border-width: 4px;
    border-image: linear-gradient(11deg, rgba(29,141,189,1) 34%, rgba(170,182,209,1) 100%) 1;
    margin: auto auto;
    width: 90%;

    background: rgb(238,185,174);
    background: radial-gradient(circle, rgb(180, 123, 111) 50%, rgb(172, 179, 79) 100%);
}