html {
    background: repeating-linear-gradient( 135deg, rgba(15, 15, 15, 0.9), rgba(15, 15, 15, 0.9) 50px, rgba(29, 29, 29, 0.9) 50px, rgba(29, 29, 29, 0.9) 100px );
    background-size: contain;
    background-attachment: fixed;

    color: white;
    font-family: "Lato", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.125em;
}

#main {
    width: 100px;
    height: 100px;
    background-color: #c95a2a;
}