@keyframes navigationBar {
    0% {transform: translateY(-60px);}
    100% {transform: translateY(-10px);}
}



html {
    background: repeating-linear-gradient( 135deg, rgba(15, 15, 15, 0.9), rgba(15, 15, 15, 0.9) 50px, rgba(29, 29, 29, 0.9) 50px, rgba(29, 29, 29, 0.9) 100px );
    background-size: contain;
    background-attachment: fixed;

    color: white;
    font-family: "Lato", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.125em;
}

a:link {
    color: #457ed9;
}
a:visited {
    color: #8851e0;
}
a:active {
    background-color: white;
    border-radius: 4px;
    color: black
}

ul {
    list-style-image: url(images/listicon.png);
    list-style-position: outside;
}

img {
    border-radius: 4px;
    height: 200px;
}

nav { /* i spent way too long on this nav and the unhover doesnt even work and i am too lazy to keep trying */
    position: fixed;
    width: 25%;
    top: 0%;
    left: 37.5%;
    right: 37.5%;

    /* background-color: #36383e; */
    background-image: url("images/navBackground.jpg");
    background-size: fit;
    border: 3px solid #4a4b52;
    border-radius: 4px;

    padding: 5px;

    transform: translateY(-60px);
    transition: 0.5s;
}

nav a {
    font-size: 1.125em;
    color: #7289da;
    text-decoration: none;
    transition: 0.5s ;
}

nav a:hover {
    text-decoration: underline;
    transition: 0.5s;
}

nav p {
    font-size: 1.35em;
    text-align: center;
    text-decoration: underline;
}

nav:hover {
    animation: navigationBar 0.5s ease 0s normal forwards;
    transition: 0.5s;
}


h1 {
    font-family: "Source Code Pro", "Lato", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: underline;
    text-align: center;
}

h2 {
    text-decoration: underline;
}

table {
    border: 2px solid white;
    border-radius: 0.125vw;

    margin-left: auto;
    margin-right: auto;
}

td {
    padding: 5px;
}



.column {
    background-color: #1b1c22;
    border-radius: 4px;
    padding: 1vw;
    margin: 1vw;

    width: 29%;

    float: left;

    text-align: center;
}

.center { /* it doesn't want to work :( */
    margin: auto;
    /* border: 3px solid green; */
}



#main {
    background-color: #282b30;
    border-radius: 4px;
    padding: 1vw;
    margin: 1vw;
}

#homeButton {
    position: absolute;
    top: 10px;
    left: 10px;
}