/* adding this so it actually updates the css hopefully */
html {
    background: repeating-linear-gradient( 135deg, rgba(15, 15, 15, 0.9), rgba(15, 15, 15, 0.9) 50px, rgba(29, 29, 29, 0.9) 50px, rgba(29, 29, 29, 0.9) 100px );
    background-size: contain;
    background-attachment: fixed;

    text-align: center;

    color: white;
    font-family: "Lato", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#main {
    background-image: linear-gradient(0deg, black, black 10%,#c95a2a 90%);
    
    border: 5px solid rgba(29, 29, 29, 0.9);
    border-radius: 5px;

    position: absolute;
    width: 90vw;
    left: 5vw;
    right: 5vw;
}

#hoverThing {
    width: 10vw;
    height: 10vw;

    text-align: center;
    vertical-align: middle;
    overflow: clip;

    background-color: #c54a25;
    border: 8px outset #be3b24;
    border-radius: 10px;

    position: absolute;
    left: 40vw;
    right: 40vw;

    transition: 30s;
    z-index: 10;
}

#hoverThing:hover {
    margin-top: 1050vw;
    transition-duration: 30s;

    box-shadow: 0px 0px 40px 40px #c95a2a;
}

nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

hr {
    width: 90%;
    height: 110%;
}

p, h1, h2, h3, h4, h5, h6 {
    font-size: 2em;
}

#youDidIt {
    color: black;
    z-index: 999;
    border: 2px solid black;

    position: relative;
    bottom: 200px;
}